.idea/
cmake-build-*/
build/
sdkconfig
sdkconfig.old
webconfig/dist/

components/schemas
node_modules
/.idea
*.iml
.project
.cproject
.classpath
*.launch
.settings/
.vscode
.DS_Store
Thumbs.db
dist/*.map

# Used for Intellij's CLion in Windows (https://www.jetbrains.com/help/clion/esp-idf.html#build)
# This would be specific to your environment and IDF version.
espidf_source.bat