.idea/
cmake-build-*/
build/
sdkconfig
sdkconfig.old
webconfig/dist/

components/schemas
node_modules
/.idea
*.iml
.project
.cproject
.classpath
*.launch
.settings/
.vscode
.DS_Store
Thumbs.db
dist/*.map